[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
opencv-python = "*"
mediapipe = "*"
pynput = "*"
protobuf = "<=3.20.1"

[dev-packages]

[requires]
python_version = "3.10"
